
.header{
  border:0;
  margin:0px;
  padding:10px;
  background: #1176BC;
  color: white;
  font-size: 14px;
  overflow: auto;
  position: relative;

}

.envelope{
  top: -4.667px;right: 142.5px;
}

.mail{
  top: -8px;
  right: -52px;
}
.phone{
  top: -8.667px;
  right: -100px;

}

.phonepic{
  right: 47.45px;
  top: -0.667px;
  left: -26px;
}

.newsletter{
  left: 1758px;
  top: -9px;
}

.linkedin{
  left: 1776px;
  top: 3.333px;
  height:36px;
  width: 42px;
  display: inline-block;
}

.facebook{
 top: 1.333px;
 left: 1771px;
 height:33px;
 width: 40px;
 display: inline-block;
}

.twitter{
 left: 1771px;
 top: 4.333px;
 height:37px;
 width: 45px;
 display: inline-block;
}

.header a{
  color: white;
  position:relative;
}

.navbar li, a {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #4e5359;
  text-decoration: none;
  cursor: pointer;
}

.navbar{
  list-style: none;
  text-align: center;
  margin-right: 30px;
}

.navbar li {
  display: inline-block;
  padding: 0px 20px;
  margin-bottom: 10px;
  padding-top:57px;
}

img{
  width:1.5em;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  position:absolute;
  top: 8.333px;
  bottom: 668.25px;

}

.btn{

  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  padding: 15px !important;
  background-color: #1176BC;
  color: #ffffff !important;
  border-radius: 50px;
  border: 1px solid #1176BC;
  margin-left: 20px;
  cursor: pointer;
}

.btn:hover{

background-color: #ffffff;
color: #1176BC !important;

}

.logo {
width: 200px;
height; auto;
padding: 60px;
top: 111.533px;
left: 574px;
padding: 0px;
}

.dropbtn {
  color: #4e5359;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color:#F2F2F2D9;
  z-index: 1;
  position: fixed;
  border-radius: 10px;
}

.dropdown-content a {
  color: #4e5359;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #1176BC; color: white; border-radius: 10px;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content li:first-child > a {
border-radius: 10px 10px 0px 0px;
}
.dropdown-content li:last-child > a {
border-radius: 0px 0px 10px 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.footer ul{
 display: inline-block;
 vertical-align: top;
 text-align: left;
 list-style-type: none;
}

.footer ul a{
  color:white;
}

.footer li a {
color: #FFFFFFA6;
line-height: 1.5;
}

.footer li a:hover{
color: white;
}

.footer li:first-child {
padding-top: 20px;
}

.logowhite {
  width: 200px;
  height; auto;
  left: 595.98px;
  top: 24.333px;
}
